<!DOCTYPE html>
<html>
  <head>
	    <title>pharmacie-Paris</title>
	    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
	      <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">
	    
	     	<link rel='stylesheet' href='/stylesheets/w3.css' />
	    <!-- Defines CSS necessary for animations -->

		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	    <link rel='stylesheet' href='/stylesheets/v-accordion.css'/>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel="stylesheet" href="/stylesheets/animation.css" />
		<link rel='stylesheet' href='/stylesheets/myCss.css' />
	    
	    <link rel='stylesheet' href='/component/commande-list/commande-list.css' />
	 <!--    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->

	     <!-- Javascript file  -->
		<script src="/bower_components/jquery/dist/jquery.js"></script>
		<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
	    <script src="/bower_components/angular/angular.js"></script>
    	<script src="/bower_components/angular-animate/angular-animate.js"></script>
    	<script src="/bower_components/angular-messages/angular-messages.min.js"></script>
    	<!-- <script src="/node_modules/angular-material/angular-material.js"></script> -->
	    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
	    <script src="/bower_components/angular-resource/angular-resource.js"></script>
	   
	     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
	    
	    <!--  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.7/angular-material.min.js"></script>
 -->
 		<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.7/angular-material.min.js"></script>
 

	      <script src="/javascript/jsLib/v-accordion.js"></script>
	    



		<!-- 		begin service   file            -->	

		<script src="/core/service/user/user.service.module.js"></script>
		<script src="/core/service/user/user.service.js"></script>
		<script src="/core/service/dailySaleService/dailySale.service.module.js"></script>
		<script src="/core/service/dailySaleService/dailySale.service.js"></script>
		<script src="/core/service/commandeService/commande.service.module.js"></script>
		<script src="/core/service/commandeService/commande.service.js"></script>
		<script src="/core/service/produitService/produit.service.module.js"></script>
		<script src="/core/service/produitService/produit.service.js"></script>
	
		<script src="/core/service/drugstoreService/drugstore.service.module.js"></script>
			<script src="/core/service/drugstoreService/drugstore.service.js"></script>
			<script src="/core/service/service.module.js"></script>

		

		<!-- 		end service   file            -->	
		
		<!-- 		begin Filtre   file            -->	
			
			<script src="/core/filter/currencyFilter/currency.filter.module.js"></script>
		<script src="/core/filter/currencyFilter/currency.filter.js"></script>
		<script src="/core/filter/statusFilter/status.filter.module.js"></script>
		<script src="/core/filter/statusFilter/status.filter.js"></script>
		<script src="/core/filter/firstLetterFilter/firstLetter.filter.module.js"></script>
		<script src="/core/filter/firstLetterFilter/firstLetter.filter.js"></script>

		<script src="/core/filter/filter.module.js"></script>
		

		<!-- 		end  Filtre   file            -->	




		<script src="/core/core.module.js"></script>

		 <!-- 		Begin component   file            -->	





		<script src="/component/produit-list/produit-list.module.js"></script>
		<script src="/component/produit-list/produit-list.component.js"></script>
		<script src="/component/commande-list/commande-list.module.js"></script>
		<script src="/component/commande-list/commande-list.component.js"></script>
		<script src="/component/component.module.js"></script>

		 <!-- 		End component   file            -->	
	

		
		

		

		 <!-- 		Begin controller template   file            -->	
		<script src="/javascript/template-controller/controller-templates.module.js"></script>
		<script src="/javascript/template-controller/header-controller.js"></script>
		<script src="/javascript/template-controller/menu.produit.controller.js"></script>
		<script src="/javascript/template-controller/menu.commande.controller.js"></script>
		<script src="/javascript/template-controller/menu.dailySale.controller.js"></script>
		<script src="/javascript/template-controller/menu.depense.controller.js"></script>
		<script src="/javascript/template-controller/menu.client.controller.js"></script>





		 	 <!-- 		End controller template   file            -->	

		
		<script src="/javascript/userAuth/userAuth.module.js"></script>
		<script src="/javascript/userAuth/userAuth.controller.js"></script>	
		<script src="/javascript/home/home.module.js"></script>
		<script src="/javascript/home/home.controller.js"></script>
	

		<script src="/javascript/commande/commande.module.js"></script>
		<script src="/javascript/commande/commande.details.controller.js"></script>
		<script src="/javascript/commande/commande.edit.controller.js"></script>
		

	  
	

	 <!-- 		begin route   file            -->	
	 	<script src="application.module.js"></script>
	 	
		<script src="/javascript/home/config/home.config.js"></script>
		 <script src="/javascript/commande/config/commande.config.js"></script>
		 <script src="application.js"></script>

	  <!-- 		end route   file            -->	

  </head>
  <body ng-app="drugStoreSoftware">
			<div ui-view  id="view-frame"></div>

		 
  </body>
</html>
