<header class="section-top" >
 <div id="header-container">
    <div class="header-section header-section-left">
    <img alt="logo Pharmacie" src="img/Pharmacie.PNG" />
	    <h3>Pharmacie Dixinn Mosquee</h3> 
	    <div  class="header-section-home menu-link" ng-click="goHome()" >
	 		<span class="glyphicon glyphicon-home" aria-hidden="true" ></span>
	  	</div>
 
    </div>
    <div class="v-separator"></div>
    <div class="header-section header-section-middle">
     <img alt="logo entreprise" src="img/logo-entreprise.png" />
     <h3> Homeland Investement </h3> 
    
     </div>
    <div class="v-separator"></div>
    <div class="header-section header-section-right">

  		<div >
 			<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
  			Aide
  		</div>
  		<div class="v-separator">
  		</div>
  		<div>
    	<div class="dropdown ">
		  <div class="dropdown-toggle menu-link "  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" > 
		  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
		   <strong>{{currentUser()}}</strong>
		    <span class="caret"></span>
		  </div>
		  <ul class="dropdown-menu">
		    <li><a href="#">Details</a></li>
		     <li role="separator" class="divider"></li>
		    <li><a href="#" ng-click="logOut()">LogOut</a></li>	
		  </ul>
  		</div>
  		</div>
	</div>
</div>	

</header>

<!-- <div class="w3-col">
     <img alt="logo entreprise" src="img/logo-entreprise.jpg" />
     </div>
      <div class="w3-col"> 
       </div>-->