 <div ng-cloak>
 	<md-content>
 		<md-tabs  md-dynamic-height md-border-bottom md-selected=activeMenu>
 			<md-tab label="Mes produits" >

 				<md-content class="md-padding">
 					<div ui-view="produits"></div>
 				</md-content>
 			</md-tab> 
 			<md-tab label="Mes Commandes" >

 				<md-content class="md-padding">
 					<div ui-view="commandes"></div>
 				</md-content>
 			</md-tab> 
 			<md-tab label="Mes daily sales">
 				<md-content>
 					<div ui-view="dailySales"></div>
 				</md-content>
 			</md-tab> 
 			
 			<md-tab label="Mes clients" >
 				<md-content>
 					<div ui-view="clients"></div>
 				</md-content>
 			</md-tab> 
 			<!-- <md-tab label="Mes dépenses">
 				<md-content>
 					<div ui-view="depenses"></div>
 				</md-content>
 			</md-tab> 
 -->
 		</md-tabs>
 	<md-content>
 </div>