<div id="home-view-container">
<div ui-view="header">
	<!-- nesting the header  -->
</div>  
<div class="row home-view-body">
	<section  class="col-xs-4 col-md-3 section-left" >
	
		<div class="section-left-historique w3-row">
			  <div class="w3-col s8 section-left-historique-title">Daily sale de la  semaine</div>
			  <div class="w3-col s4 section-left-historique-menu" >
			  <div class="dropdown">
						  <div class="dropdown-toggle"  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" >
						  	Selectionner
						  	<span class="caret"></span>
						  </div>
						  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						  	<li><a href="#">22/11/2016 </a></li>
						       <li role="separator" class="divider"></li>
						        <li><a href="#">dialy sale hier </a></li>
						    <li><a href="#">Another daily sale</a></li>
						    <li><a href="#">20/10/2014</a></li>
						  
						  </ul>
				</div>
			</div>	
		
			
		</div>
		<div class="section-left-historique-detail">
			<div class="section-left-historique-detail-title"> daily sale du   <span>  22/12/2016</span> </div>
			<div class="w3-row section-left-historique-detail-content">
				<div class="w3-col s8">
				<span  class="libelle-info section-left-historique-title">STATUS : </span><span class="libelle-info-value">En cours</span> 
				</div>
				<div class="w3-col s4 test">
				<span class="libelle-info">TOTAL: </span><span class="libelle-info-value badge-info">42</span>
				</div>
			</div>
			
		</div>

		
		<div class="section-left-command" ng-cloak="true">
			<div class="section-left-command-container" >
			<div class="header-command-title">
    
      				  <h5>
         					Commandes
         					<span  class="header-command-icon">	...</span>
        				</h5>
      				
      				
      		</div>
    		
			
			<div class="w3-panel w3-card-12">
				
    			<div>	
    					<commande-list></commande-list>

    			</div>


			</div>
			</div>
		</div>
	</section>
	<section class="col-xs-14 col-md-9 section-right">
		<div class="panel panel-default daily-sale-globale-info">
		  <div class="panel-body daily-sale-globale-info-panel">
		     <div>
		     <h4 class="summary_title">daily sale faible vente</h4>
		       <h3 class="summary_value summary_value_pos">50 GNF </h3>
		     </div>
		        <div>
		      <h4 class="summary_title"> daily sale vente courante</h4>
		       <h3 class="summary_value summary_value_courante">50 GNF </h3>
		     	  </div>
		       <div>
		      <h4 class="summary_title">daily sale best vente</h4>
		       <h3 class="summary_value summary_value_pos">50 GNF </h3>
		       </div>
		</div>
		</div>
		
		<div   class="panel panel-default daily-sale-globale-body">
		  <div class="panel-body">
		  <div ui-view="menu">
		  <!--  template for menu  -->
		  </div>
		  
		  </div>
		  
		</div>

		
	</section>
</div>
</div>

